{
  "extends": "react-app",
  "rules": {
    "linebreak-style": [
        "error",
        "unix",
    ],
    "semi": [
        "error",
        "always",
    ],
    "no-trailing-spaces": [
      "error",
    ],
    "no-restricted-imports": [
      "warn",
      {
        "paths": [{
          "name": "styled-components",
          "message": "Please import from styled-components/macro."
        }],
        "patterns": [
          "!styled-components/macro",
        ],
      },
    ],
  },
}
