/*===========================================================================*/
/* Fonts */
/*===========================================================================*/

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./fonts/WorkSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./fonts/WorkSans-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'WorkSans';
  src: local('WorkSans'), url(./fonts/WorkSans-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Objectivity';
  src: local('Objectivity'), url(./fonts/Objectivity-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Objectivity';
  src: local('Objectivity'), url(./fonts/Objectivity-Medium.otf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Objectivity';
  src: local('Objectivity'), url(./fonts/Objectivity-Bold.otf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'objectivityregular';
  src: url('./fonts/objectivity-regular-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivityregular_slanted';
  src: url('./fonts/objectivity-regularslanted-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-regularslanted-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'objectivitymedium';
  src: url('./fonts/objectivity-medium-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivitymedium_slanted';
  src: url('./fonts/objectivity-mediumslanted-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-mediumslanted-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'objectivitybold';
  src: url('./fonts/objectivity-bold-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'objectivitybold_slanted';
  src: url('./fonts/objectivity-boldslanted-webfont.woff2') format('woff2'),
       url('./fonts/objectivity-boldslanted-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*===========================================================================*/
/* Global Styles */
/*===========================================================================*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #FFF;
  color: #565656;
  font-family: 'Objectivity';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: unset;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::selection {
  background-color: rgba(217, 28, 92, 0.75);
  color: #FFF;
}

/*===========================================================================*/
/* Normalize.css */
/*===========================================================================*/

main {
  display: block;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

a:hover {
  color: unset;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select {
    background: transparent;
}

textarea {
  overflow: auto;
}

.ant-switch-checked {
  background-color: #D91C5C;
}